<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Dineo Automation Exercise Test Suite">

    <test name="E-Commerce Automation Tests">
        <packages>
            <package name="com.dineo.automation.tests"/>
        </packages>
    </test>

</suite>